section .container {
  display: flex;
  padding-left: 12%;
  box-sizing: border-box;
}

.left-block1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 86, 7);
  width: 20%;
  gap: 20px;
  padding: 15px 0 0 15px;
  box-sizing: border-box;
}

section .container .left-block1 .row {
  display: flex;
  background-color: rgb(232, 73, 0);
  width: 88%;
  height: 40px;
}

.right-block1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 14%;
  box-sizing: border-box;
}

.top {
  display: flex;
  width: 100%;
  height: 236px;
}

.photo {
  display: flex;
  width: 100%;
  gap: 40px;
  //max-width: 100%;
}

.photo img {
  flex: 1;
  height: 216px;
  margin-top: 15px;
  box-sizing: border-box;
}

.rows-near-photo {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 236px;
  padding-top: 14px;
  box-sizing: border-box;
}

section .container .rows-near-photo .row {
  display: flex;
  background-color: rgb(206, 206, 206);
  height: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  padding: 14px 0 15px 0;
  box-sizing: border-box;
}

section .container .bottom .row {
  display: flex;
  background-color: rgb(206, 206, 206);
  height: 25px;
}

@media (max-width: 1285.6px) {
  section .container {
    display: flex;
    padding-left: 0px;
  }

  .left-block1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    padding: 15px 0 0 15px;
    padding-right: 10px;
  }

  .right-block1 {
    padding-right: 2%;
  }

  .photo {
    gap: 40px;
  }

  .photo img {
    width: 30%; //фото займає чітко 30% ширини батьківського блоку(.photo) і плавно зменшується
  }
}

@media (max-width: 375px) {
  section .container {
    flex-direction: column;
    padding-left: 0px;
  }

  .left-block1 {
    width: 100%;
    padding-left: 15px;
    padding-bottom: 15px;
    gap: 10px;
    flex-direction: row;
  }

  section .container .left-block1 .row {
    display: none; // приховуємо всі рядки в лівому блоці
  }

  section .container .left-block1 .row:nth-child(-n + 3) {
    display: flex; // показуємо перші три рядки
  }

  .right-block1 {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
  }

  .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .photo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
    box-sizing: border-box;
  }

  .photo img {
    display: flex;
    width: 100%;
    margin: 0px;
  }

  .rows-near-photo {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  section .container .rows-near-photo .row {
    height: 20px;
    width: 80%;
  }

  .bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 14px 0 15px 0;
  }

  section .container .bottom .row {
    width: 80%;
    height: 20px;
  }
}
